In [1]:
from keras.models import load_model
import pandas as pd

In [2]:
test = pd.read_csv('test.csv')

In [3]:
X_test = test

In [4]:
X_test = X_test / 255.0

X_test = X_test.values.reshape(-1,28,28,1)

print("X Test Shape: ",X_test.shape)

X Test Shape:  (28000, 28, 28, 1)

In [5]:
model = load_model('mnist.h5')

In [6]:
Y_pred = model.predict(X_test)
Y_pred.shape

(28000, 10)

In [7]:
Y_pre = []
for i in range(Y_pred.shape[0]):
    Y_pre.append([i + 1, Y_pred[i].argmax()])

In [8]:
sub = pd.DataFrame(Y_pre, columns=['ImageId', 'Label'])
sub

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      0
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]

In [9]:
sub.to_csv('submission.csv', index=False)